.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.paginate a {
  padding: 10px;
}
.prod-img {
  display: flex;
  justify-content: center;
  max-height: fit-content;
  max-width: fit-content;
}

.pagination {
  justify-content: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}
.pagination li.active {
  background-color: #000000;
  padding: 8px 16px;
  color: white;
}
 
.pagination a:hover:not(.active) {
  background-color: #717177;
}
.pagination li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
 
.pagination li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mycart{
  
  background: #fff;
  color: #ff3f6c;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #ff3f6c;
  display: inline-block;
  padding: 5px;
}

li.disabled{​​​​​​​​
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}​​​​​​​​

